@import "tailwindcss";

/* Tailwind CSS v4 カスタムカラー定義 */
@theme {
  --color-*: initial;
  --color-green: oklch(0.5741 0.1325 156.53); /*#148f57*/
  --color-dark-green: oklch(0.3348 0.0387 163.46); /*#233d31*/
  --color-gray: oklch(0.6898 0.027 109.55); /*#9c9d8a*/
  --color-ivory: oklch(0.9628 0.007 106.52); /*#f3f3ed*/
  --color-off-white: oklch(0.9902 0.0039 106.47); /*#fcfcf9*/
  --color-snow: oklch(0.9962 0.004 106.47); /*#fefefb*/
  --color-teal: oklch(0.74 0.1 205); /*#50bdc9*/
  --color-red: oklch(0.5183 0.168 21.78); /*#b5313a*/
  --color-purple: oklch(0.5795 0.272581 299.5824); /*#9733ff*/

  /* UI Component Color */
  --color-muted: color-mix(in oklch, var(--color-dark-green) 75%, transparent);

  --color-placeholder: color-mix(
    in oklch,
    var(--color-dark-green) 50%,
    transparent
  );

  --color-subtle: color-mix(in oklch, var(--color-gray) 30%, transparent);

  --color-surface: var(--color-snow);

  --color-surface-elevated: var(--color-ivory);
}

@plugin "daisyui" {
  themes: default --default;
}

@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: false;
  --color-base-100: var(--color-off-white);
  --color-base-200: var(--color-ivory);
  --color-base-300: color-mix(
    in oklch,
    var(--color-dark-green) 16%,
    transparent
  );
  --color-base-content: var(--color-dark-green);
  --color-primary: var(--color-green);
  --color-primary-content: var(--color-off-white);
  --color-secondary: var(--color-muted);
  --color-secondary-content: var(--color-off-white);
  --color-accent: var(--color-purple);
  --color-accent-content: var(--color-off-white);
  --color-neutral: var(--color-dark-green);
  --color-neutral-content: var(--color-off-white);
  --color-info: var(--color-teal);
  --color-info-content: var(--color-off-white);
  --color-success: var(--color-green);
  --color-success-content: var(--color-off-white);
  --color-error: var(--color-red);
  --color-error-content: var(--color-off-white);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
