<div class="flex flex-col items-center h-full gap-10 my-10 bg-custom-cream min-h-screen">
  <div class="flex items-center justify-center flex-1 gap-x-10">
    <div class="bg-custom-beige w-60 h-60 rounded-lg shadow-md"></div>
    <div class="bg-custom-beige w-60 h-60 rounded-lg shadow-md"></div>
  </div>
  <%= link_to "タスクをみる", tasks_path, class: "btn bg-custom-sage-dark border-custom-sage-dark hover:bg-custom-sage hover:border-custom-sage text-custom-cream" %>
  <div class="flex items-center justify-center flex-1 gap-x-10">
    <div class="bg-custom-beige w-60 h-60 rounded-lg shadow-md"></div>
    <div class="bg-custom-beige w-60 h-60 rounded-lg shadow-md"></div>
  </div>
  <div class="flex items-center justify-center flex-1 gap-x-10">
    <div class="bg-custom-beige w-60 h-60 rounded-lg shadow-md"></div>
    <div class="bg-custom-beige w-60 h-60 rounded-lg shadow-md"></div>
  </div>
</div>