<div class="w-full">
  <%= f.label :description, class: "text-sm font-light" %>
  <%= f.text_area :description,
                  rows: 4,
                  autocomplete: "off",
                  class: "textarea textarea-neutral bg-surface border border-subtle w-full min-h-24 text-base leading-relaxed placeholder:text-placeholder",
                  placeholder: "タスクの目標、テーマなどを説明してください..." %>
</div>
