<!-- dropdownï¼ˆç·¨é›†ãƒ»ã‚¹ãƒ†ãƒ¼ã‚¿ã‚¹å¤‰æ›´ãƒ»å‰Šé™¤ï¼‰ -->
<!-- ðŸŽ“ CSS Focusã‚’ä½¿ç”¨ã—ãŸdropdown: https://daisyui.com/components/dropdown/#method-3-css-focus -->
<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" aria-label="open-task-menu"
       class="btn border-none shadow-none bg-custom-white text-custom-dark-green hover:bg-custom-off-white">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
  </div>
  <ul tabindex="0" class="menu dropdown-content bg-custom-white rounded-box z-[1] w-40 p-2 shadow">
    <li>
      <%= link_to edit_task_path(task),
          data: { turbo: false },
          class: "flex items-center gap-2 px-4 py-2 w-full text-left text-custom-dark-green hover:bg-custom-off-white" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
        ç·¨é›†
      <% end %>
    </li>
    
    <li>
    </li>
  </ul>
</div>
