<div class="w-full">
  <%= f.label :title, class: "text-sm font-semibold" %>
  <%= f.text_field :title,
                   class: "input input-neutral input-lg bg-surface border border-subtle text-base w-full placeholder:text-placeholder",
                   placeholder: "タイトルを入力してください...",
                   autocomplete: "off" %>
</div>
