<div class="flex items-center gap-2" data-todo-form-target="todoField">                
  <!-- å‰Šé™¤ãƒœã‚¿ãƒ³ -->
  <button type="button" 
          data-action="click->todo-form#remove"
          class="btn btn-circle btn-outline btn-error shadow-none
                 btn-xs @md:btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 @md:size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
  </button>
  <!-- ToDoãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰(2ç¨®é¡žã®ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ã‚’ä½¿ç”¨) -->
  <% if todo_form %>
    <!-- 1. æ—¢å­˜ã®Todoãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ç”¨ã€Railsãƒ•ã‚©ãƒ¼ãƒ ãƒ˜ãƒ«ãƒ‘ãƒ¼ã‚’ä½¿ç”¨ã€‚ -->
    <%= todo_form.text_field :body, 
        placeholder: "ã‚„ã‚‹ã“ã¨ã‚’å…¥åŠ›ã—ã¦ãã ã•ã„", 
        class: "input bg-base-100 border-base-content text-base text-base-content w-full
                focus:ring-2 focus:ring-base-content/20 focus:outline-none
                placeholder:text-base-content/50
                input-md @md:input-lg text-sm @md:text-base" %>
    <%= todo_form.hidden_field :id %>
    <%= todo_form.hidden_field :_destroy, class: "hidden" %>
    <!--
      ðŸŽ“ éš ã—ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰_destroyã¯ã€å‰Šé™¤ãƒžãƒ¼ã‚¯ã¨ã—ã¦æ©Ÿèƒ½ã™ã‚‹ã€‚
      _destroyã¯é€šå¸¸ã¯"false"ã¨ãªã£ã¦ã„ã‚‹ã€‚
      _destroyãŒ"true"ã®å ´åˆã€å‰Šé™¤ãƒžãƒ¼ã‚¯ãŒONã«ãªã‚Šã€ç·¨é›†ç”»é¢ã®ãƒ‡ãƒ¼ã‚¿æ›´æ–°ãŒè¡Œã‚ã‚Œã‚‹ã¨ã€è©²å½“ã™ã‚‹todoãƒ¬ã‚³ãƒ¼ãƒ‰ã¯å‰Šé™¤ã•ã‚Œã‚‹ã€‚
      è©³ã—ãã¯ä»¥ä¸‹ã‚’å‚ç…§: https://railsguides.jp/form_helpers.html#%E9%96%A2%E9%80%A3%E4%BB%98%E3%81%91%E3%82%89%E3%82%8C%E3%81%A6%E3%81%84%E3%82%8B%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%82%92%E5%89%8A%E9%99%A4%E3%81%99%E3%82%8B

      ä¸Šè¨˜ã®å‰Šé™¤ãƒœã‚¿ãƒ³ã‚’ã‚¯ãƒªãƒƒã‚¯ã™ã‚‹ã¨ã€todo_formã‚³ãƒ³ãƒˆãƒ­ãƒ¼ãƒ©ãƒ¼ã®removeãƒ¡ã‚½ãƒƒãƒ‰ã«ã‚ˆã‚Šã€æ—¢å­˜ã®todoã®å ´åˆã¯_destroyãŒ"true"ã«å¤‰æ›´ã•ã‚Œã‚‹ã€‚
      è©³ã—ãã¯`app/javascript/controllers/todo_form_controller.js`ã‚’å‚ç…§ã€‚
    -->
  <% else %>
    <!-- 2. æ–°è¦è¿½åŠ ã®ToDoãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ç”¨ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆã€INDEXãƒ—ãƒ¬ãƒ¼ã‚¹ãƒ›ãƒ«ãƒ€ãƒ¼ã‚’ä½¿ç”¨ã€‚ -->
    <input type="text"
           name="task[todos_attributes][INDEX][body]" 
           placeholder="ã‚„ã‚‹ã“ã¨ã‚’å…¥åŠ›ã—ã¦ãã ã•ã„" 
           class="input bg-base-100 border-base-content text-base text-base-content w-full
                  focus:ring-2 focus:ring-base-content/20 focus:outline-none
                  placeholder:text-base-content/50
                  input-md @md:input-lg text-sm @md:text-base">
    <input type="hidden" name="task[todos_attributes][INDEX][id]" value="">
    <input type="hidden" name="task[todos_attributes][INDEX][_destroy]" value="false" class="hidden">
  <% end %>
</div>
