<% if flash[:notice] %>
  <div class="alert alert-success alert-soft mx-4 mt-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span><%= flash[:notice] %></span>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-error alert-soft mx-4 mt-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>
      <% if flash[:alert] == I18n.t("devise.failure.user.unconfirmed") %>
        <!-- 未確認のメールアドレスでログインしようとした場合のみ、リンク付きメッセージを表示 -->
        メールアドレスの確認が完了していません（確認メールが見つからない方は<%= link_to "こちら", new_user_confirmation_path, class: "link link-error font-semibold" %>から新しいメールを再送信してください）
      <% else %>
        <%= flash[:alert] %>
      <% end %>
    </span>
  </div>
<% end %>

