<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content p-10">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "お問い合わせ", "https://forms.gle/mPrdREzhbRRauaZ27", class: "link link-hover link-neutral hover:text-neutral/80", target: "_blank", rel: "noopener noreferrer" %>
    <%= link_to "利用規約", "https://www.kiyac.app/termsOfService/4gR3qtrlqQcSLST3C8GR", class: "link link-hover link-neutral hover:text-neutral/80", target: "_blank", rel: "noopener noreferrer" %>
  </nav>
  <aside>
    <p>Copyright © 2025 All right reserved by memoTIL</p>
  </aside>
</footer>