<!-- ðŸŽ“ ã¼ã£ã¡æ¼”ç®—å­&.ã‚’ä½¿ã‚ãªã„ã¨`spec/system/posts_spec.rb`ã®ãƒ†ã‚¹ãƒˆãŒå¤±æ•—ã™ã‚‹ã®ã§æ³¨æ„ -->
<!-- ãŠãã‚‰ãã€object.postableãŒnilã®å ´åˆã€NoMethodErrorãŒç™ºç”Ÿã™ã‚‹ãŸã‚ã€‚ -->
<% if object.postable&.errors&.any? %>
  <div class="text-sm text-custom-rust mt-1">
    <% object.postable.errors.full_messages.each do |message| %>
      <div class="flex items-center gap-1">
        <span><%= message %></span>
      </div>
    <% end %>
  </div>
<% end %>
