<% if object.postable&.errors&.any? %>
  <div class="text-sm text-custom-rust mt-1">
    <% object.postable.errors.full_messages.each do |message| %>
      <div class="flex items-center gap-1">
        <span><%= message %></span>
      </div>
    <% end %>
  </div>
<% end %>
