<!-- ðŸŽ“ ã¼ã£ã¡æ¼”ç®—å­&.ã‚’ä½¿ã‚ãªã„ã¨`spec/system/posts_spec.rb`ã®ãƒ†ã‚¹ãƒˆãŒå¤±æ•—ã™ã‚‹ã®ã§æ³¨æ„ -->
<!-- ãŠãã‚‰ãã€post.postableãŒnilã®å ´åˆã€NoMethodErrorãŒç™ºç”Ÿã™ã‚‹ãŸã‚ã€‚ -->
<% if post.errors.any? || post.postable&.errors&.any? %>
  <div class="text-sm text-red mt-1">
    <!-- post.postable(Postable)ã®ã‚¨ãƒ©ãƒ¼(TextPostã®å ´åˆã®ã¿è¡¨ç¤º) -->
    <% if post.postable.is_a?(TextPost) %>
      <% post.postable.errors.full_messages.each do |message| %>
        <div class="flex items-center gap-1">
          <span><%= message %></span>
        </div>
      <% end %>
    
    <!-- post(Post)è‡ªä½“ã®ã‚¨ãƒ©ãƒ¼ï¼ˆDocumentPostã®å ´åˆã®ã¿è¡¨ç¤ºï¼‰ -->
    <!-- ðŸŽ“ DocumentPostã®æŠ•ç¨¿ãŒå¤±æ•—ã—ãŸå ´åˆã€post.postableã¯nilã«ãªã‚‹ãŸã‚ã€ã‚¨ãƒ©ãƒ¼ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã‚’å–å¾—ã§ããªã„ã€‚ -->
    <!-- ãã®ãŸã‚ã€Postsã‚³ãƒ³ãƒˆãƒ­ãƒ¼ãƒ©ãƒ¼ã§postã«errorsã‚’è¿½åŠ ã—ã€ã“ã®ç®‡æ‰€ã§ã‚¨ãƒ©ãƒ¼ã‚’è¡¨ç¤ºã™ã‚‹ã€‚-->
    <% elsif post.postable.is_a?(DocumentPost) %>
      <% post.errors.full_messages.each do |message| %>
        <div class="flex items-center gap-1">
          <span><%= message %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
